<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.aoeivux.entity.Student" >
        <property name="id" value="1"></property>
        <property name="name" value="zs"></property>
		<property name="addresses">
			<list>
				<ref bean="address1"></ref>
				<ref bean="address2"></ref>
			</list>
		</property>
		<property name="address" ref="address3"></property>
    </bean>

	<bean id="address1" class="com.aoeivux.entity.Address">
		<property name="id" value="1"></property>
		<property name="name" value="长安路"></property>
	</bean>
	<bean id="address2" class="com.aoeivux.entity.Address">
		<property name="id" value="2"></property>
		<property name="name" value="北京路"></property>
	</bean>
	<bean id="address3" class="com.aoeivux.entity.Address">
		<property name="id" value="3"></property>
		<property name="name" value="科学大道"></property>
	</bean>
	<!-- spring继承 -->
	<bean id="substudent" class="com.aoeivux.entity.Student" parent="student">
		<property name="id" value="2"></property>
	</bean>
</beans>